doctype html
html
  head
    title= title    
    
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/fontawesome-free/css/all.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic')
    link(rel='stylesheet', href='/vendor/magnific-popup/magnific-popup.css')
    link(rel='stylesheet', href='/stylesheets/freelancer.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body(id="page-top") 
    <!-- Navigation -->
    nav(class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav")
      div.container
        a(class="navbar-brand js-scroll-trigger" href="#page-top") Geo Location

    block content

    script(src="/vendor/jquery/jquery.min.js")